.custom-navbar {
  background-color: #2C3E50;
}

.custom-navbar .nav-link {
  color: #ECF0F1;
}

.custom-navbar .nav-link:hover {
  color: #E67E22;
}

.custom-navbar .nav-link.active {
  color: #E67E22 !important;
  font-weight: bold;
}
